body {
    .content {
    max-width: 1200px;
    margin: auto;
    font-size: 16px;
    line-height: 1.5;
 }
    ol {
  padding-inline-start: 28px;
  font-weight: 300;
}
    .theme-dark ul {
  padding-inline-start: 28px;
  list-style-type: disc;
  font-weight: 400;
  list-style-type: square !important;
  
  border-left: 5px solid darkorchid;
  background-color: rgba(138, 44, 226, 0.15) ;
  list-style-type: none;
  padding: 10px 20px;
}
    .theme-dark ol {
  padding-inline-start: 28px;
  list-style-type: disc;
  font-weight: 400;
  list-style-type: decimal !important;
  
  border-left: 5px solid rgba(178, 173, 250, 0.541);
  background-color:rgba(93, 153, 243, 0.185);
  list-style-type: none;
  padding: 10px 20px;
}
    /*********** IMAGE Size Limiter*********
************ From BLUE TOPAZ ***********/
/* Images : reduce displayed size of embedded files, zoom on hover */
.markdown-preview-view img, .markdown-preview-view video {
  width: auto;
  height: auto;
  object-fit: contain;
  max-height: 300px;
  max-width: 550px;
  outline: 0px solid var(--text-accent);
}
.markdown-preview-view img:hover , .markdown-preview-view video:hover {
  width: 100%;
  height:100%;
  max-width: min(100%, 80vw);
  max-height: min(100%, 80vh);
  outline: none;
  cursor: zoom-in;
}
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}
