body {
    background-color:rgb(33,33,33);
    .content {
    max-width: 1200px;
    margin: auto;
    font-size: 15px;
    line-height: 1.5;
        
        /* Dark theme */
          /* SEARCH THIS LATER MF https://github.com/deathau/obsidian-snippets/blob/main/notation-colour-blocks.css */
.
