body {
    background-color:rgb(27,31,38);
    .content {
    max-width: 1200px;
    margin: auto;
    font-size: 16px;
    line-height: 1.5;
 }

    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}
